.captcha-container {
  text-align: center;
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.level-info h3 {
  color: #ff0055;
  margin-bottom: 5px;
}

.instruction {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* LA GRILLE */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
}

/* LES CARTES IMAGES */
.grid-item {
  position: relative;
  border: 4px solid #333;
  cursor: pointer;
  transition: all 0.2s;
  background: #000;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7; /* Un peu sombre par défaut */
  transition: opacity 0.2s;
}

.grid-item:hover {
  border-color: #00ffff; /* Bordure bleue au survol */
}

.grid-item:hover img {
  opacity: 1;
}

/* QUAND C'EST SÉLECTIONNÉ */
.grid-item.selected {
  border-color: #ffea00; /* Bordure Jaune */
  box-shadow: 0 0 15px #ffea00;
}

.grid-item.selected img {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  text-shadow: 0 0 5px #000;
}

/* BOUTON VALIDER */
.btn-validate {
  background: #00ffff;
  color: #000;
  border: none;
  padding: 15px 50px;
  font-family: 'Russo One', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.btn-validate:hover {
  background: #fff;
  box-shadow: 0 0 20px #00ffff;
}

.error-msg {
  color: #ff0000; /* Rouge alerte */
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border: 1px solid red;
  animation: shake 0.5s;
}

/* Animation de secousse en cas d'erreur */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}